#game{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/sky.png);
}
#game .bird{
    position: absolute;
    top: 239px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background-image: url(../images/birds.png);
    transition: top .3s linear;

}
#game .start{
    position: absolute;
    top: 330px;
    left: 50%;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-left: -100px;
    font-weight: bold;
    transition: all 0.3s linear;
    cursor: pointer;
}
#game .start-white{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}

#game .start-blue{
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #09f;
}
#game .score{
    position: absolute;
    left: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: -15px;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    display: none;
    /* transform: translateX(-50%); C3里面的属性可以移动字体宽度的一半 */
}
#game .mask{
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
    display: none;
}
#game .end{
    position: absolute;
    top: 70px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    display: none;
}
#game .end .over{
    font-weight: bolder;
    font-size: 35px;
    color: red;
}

#game .end .result,#game .end .final-score{

    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    color: #ff0;
}
#game .end .rank-list{
    margin-top: 20px;
    color: #09f;
    text-align: left;
}

#game .end .rank-list .rank-item{
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    padding: 0px 10px;
    
    font-size: 13px;

}
#game .end .rank-list .rank-item .rank-degree{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    background-color: aqua;
}
#game .end .rank-list .rank-item .rank-degree.first{
    background-color: #f54545;
}

#game .end .rank-list .rank-item .rank-degree.secound{
    background-color: #ff8547;
}

#game .end .rank-list .rank-item .rank-degree.third{
    background-color: #ffac38;
}

#game .end .rank-list .rank-item .rank-score{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 10px;
    text-align: center;
}
#game .end .restart{
    margin-top: 80px;
    font-size: 30px;
    font-weight: bolder;
    color: #09f;
    /* cursor: pointer; */
    cursor: pointer;
}
